# Java
*.class

# Eclipse stuff
bin/
.project
.classpath
.settings/
*.launch

# Maven
target/

# Mac stuff
*.DS_Store

# Files with sensitive information. Hiding them like this actually works in Eclipse, but not when using git directly.
src/main/java/se/anyro/userinfobot/BuildVars.java
src/main/webapp/WEB-INF/web.xml